﻿@using PeopleStock.Models;
@model BuyStockModel
@{
    ViewBag.Title = "BuyStock";
}
<script type="text/javascript">
    
    $(document).ready(function () {
        $("#PurchaseAmount").keyup(function (){
            var price = $("#StockPrice").text();
            var qty = $("#PurchaseAmount").val();
            var totalCost = price * qty;
            $("#lblTotalCost").text(totalCost);
        });
    });

    function UpdatePurchase(box) {
        var td = $(box).parent();
        var prevTd = $(td).prev();
        var value = prevTd.text();
        var qty = $(box).val();
        var total = qty * value;
        var userPayBox = $("#lblUserPayment");
        userPayBox.text(total + " / ");
    }

</script>


<h2>Buy Stock</h2>
<h4>You are trading for this stock:</h4>
<div id="StockInfo" class="indent">
    <label>Name: </label>
    <label>@Model.PurchaseStock.Person1.FullName</label>
    <br />
    <label>Available: </label>
    <label>@Model.PurchaseStock.NumStocks</label>
    <br />
    <label>Price Per Stock: </label>
    <label id="StockPrice">@Model.PurchaseStock.Person1.StockValue</label>
    <br />
    <br />
    <hr />
</div>

<h4>Your Tradeable Stocks:</h4>
<div id="OwnedStocks" class="indent">
@{Html.BeginForm();}
    <table>
        <thead>
            <tr>
                <th>Stock</th>
                <th>Quantity</th>
                <th>Value</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var stock in Model.TradeStocks)
                {
                    <tr>
                        <td>@stock.Person1.FullName</td>
                        <td>@stock.NumStocks</td>
                        <td>@stock.Person1.StockValue</td>
                        <td>
                            <a href="javascript:Void(0);">&lt;</a>
                            <input type="hidden" name="stockID" value="@stock.Id" />
                            <input type="text" name="stockQty" onkeyup="UpdatePurchase(this);" value="0" />
                            <a href="javascript:Void(0);">&gt;</a>
                        </td>
                    </tr>   
                }
                foreach (var stock in Model.OrgTradeStocks)
                {
                    <tr>
                        <td>@stock.Organization.Name</td>
                        <td>@stock.NumStocks</td>
                        <td>@stock.Organization.StockValue</td>
                        <td>
                            <a href="javascript:Void(0);">&lt;</a>
                            <input type="hidden" name="stockOrgID" value="@stock.Id" />
                            <input type="text" name="stockOrgQty" onkeyup="UpdatePurchase(this);" value="0" />
                            <a href="javascript:Void(0);">&gt;</a>
                        </td>
                    </tr>   
                }
            }
        </tbody>
    </table>
    <hr />
</div>

<h4>Transaction Summary</h4>
<div id="PurchaseStocks" class="indent">
    <label>Purchase: </label>
    <input type="text" id="PurchaseAmount" name="PurchaseAmount" value="0" />
    <label> stocks.</label>
    <br />
    <label>Cost: </label><label id="lblUserPayment">0c / </label>
    <label id="lblTotalCost">0c</label>
    @Html.Hidden("PurchaseStockID", Model.PurchaseStock.Id)
    <br />
    <input type="submit" name="submit" value="submit" />
@{Html.EndForm();}
</div>

