﻿@using PeopleStock.Models;
@model PersonStock
@{
    ViewBag.Title = "StockSettings";
}

<h2>Stock Settings</h2>
    @{Html.BeginForm(new {id = Model.Id});}
    <div>
        <input type="radio" value="Sell" name="rdoSell" />
        <label>Only sell this stock at</label>
        <input type="text" name="SellValue" />
        <label> credits</label>
        <br />
        <input type="radio" value="Hold" name="rdoSell" />
        <label>I do not wish to sell this stock.</label>
        <br />
        <input type="submit" value="submit" name="submit" />
    </div>
@{Html.EndForm();}