﻿@model PeopleStock.Models.PersonalizeModel
@{
    ViewBag.Title = "Personalize";
}

<h2>Personalize</h2>

@{Html.BeginForm("Personalize","Organization",FormMethod.Post,new { enctype = "multipart/form-data" });}
    <label>Select Banner:</label><br />
    <input type="file" name="file" /><br />
    <label>Preview</label>
    <div>
        <img src="@Model.BannerImgLocation" alt="none" class="bannerThumb" width="300" height="300" />
    </div>
    <br />
    @Html.LabelFor(model => model.BannerText)
    @Html.EditorFor(model => model.BannerText)
    <br />
    <input type="submit" value="Save" />
@{Html.EndForm();}