﻿#menucontainer
{
    display : block;
    float : left;
    width : 70%;
    background : #EAEAEA;
}

#logindisplay
{
    display : block;
    float : right;
    width : 30%;
    background : #EAEAEA;
    height : 32px;
}


#menucontainer ul
{
    list-style-type : none;
    float : left;
    display : block;
    clear : both;
    width :100%;
    height : 100%;
    margin : auto;
}
#menucontainer li
{
    float : left;
    border : 1px solid black;
    background-color : #efefef;
}
#old
{
    background-color : #aeaeae;
}

#menucontainer a
{
    text-decoration : none;
    line-height : 30px;
    padding-left : 5px;
    padding-right : 5px;
    float : left;
    display : block;
}
#menucontainer a:hover
{
    background-color : Yellow;
}

#divMainArea
{
    width : 100%;
    float : left;
    height : 100%;
    margin-top : 20px;
}

#divAvatar
{
    width : 17%;
    float : left;   
    color : Gray;
    background-color : #eaeaea;
    height : 600px;
    border-right : 1px solid gray;
}
#divAvatar img
{
    width : 75px;
    height : 75px;
    float : left;
}

#divStatus
{
    width : 15%;
    height : 50%;
    float : left;   
    background-color : Gray;
}

#divMain
{
    width : 50%;
    float : left;
    height : 70%;   
    background-color : #ececec;
    margin-left : 15px;
}

#divStocks
{
    width : 100%;
    float : left;
    clear : both;
    margin-top : 20px;
}

#divStockActivity
{
    width : 100%;
    float : left;
    clear : both;
    margin-top : 20px;
}

#divLanding
{
    width : 100%;
    float : left;
}
#divLanding a
{
    text-align : center;
    margin-top : 100px;
    width : 100%;
    float : left;
}

#divStock
{
    width : 100%;
    float : left;   
}

#divAbout
{
    width : 100%;
    float : left;
}

#divEvents
{
    width : 100%;
    float : left;   
}

#divHeader
{
    width : 100%;
    float : left;
    text-align : center;
}
#divHeader img
{
    width : 100%;
    height : 150px;
    z-index : 0;
}
#divHeader h2
{
    color : Orange;
    top : 0;
    left : 0;
    z-index : 1;   
}

#divFeaturedContent
{
    width : 100%;   
    margin-bottom : 10px;
}

#VideoOptions
{
    clear : both;
    width : 100%;
    float : left;
    margin-top : 20px;
}

.indent
{
    margin-left : 5%;   
}

.VideoItemContainer
{
    width : 100%;
    clear : both;
    display : block;
    float : left;
}

.divFeaturedItem
{
    width : 100%;
    height : 50px;
    float : left; 
    display : block;
}
.divFeaturedItemImg
{
    width : 50px;
    height : 50px;
    float : left;
    display : block;
}
.divFeaturedItemImg Img
{
    width : 50px;
    height : 50px;
    float : left;
}
.divFeaturedItemDesc
{
    float : left;
    height : 50px;
}

.divFeaturedItem label
{
    float : left;
    clear : left;
}
.divFeaturedMenu
{
    width : 100%;
    height : 15px;
    float : left;
    background-color : #aeaeae;
    border-bottom : 1px solid gray;
    margin-bottom : 10px; 
}
.divFeaturedItemContent
{
    float : left;
    display : block;
}
.divFeaturedItemOptions
{
    float : left;
}

.divVideoItem
{
    float : left;
    width : 70%;   
}
.divVideoOptions
{
    float : left;
    width : 30%;   
}

.basic
{
    width : 100%;
    float : left;   
    margin-top : 20px;
}

.spacer
{
    width : 100%;
    height : 20px;
    background-color : White;
    border-bottom : 1px solid gray;
    border-top : 1px solid gray;
    clear : both;
}

.header
{
    width : 100%;
    float : left;
    background-color : #aeaeae;
    color : White;
    font-family : Arial;
    font-size : 1em;
}

.subheader
{
    width : 100%;
    float : left;
    background-color : #d0d0d0;
}

.postContent
{
    margin-left : 5%;
    margin-bottom : 25px;
    display : block;
    float : left;   
}

.bannerText
{
    text-decoration : none;
}

.bannerText label
{
    font-size : 2em;
    color : Orange;
}

#back_image
{
    background-image : url('../Images/mikey.jpg');
    width : 100px;
    height : 100px;    
}
#back_image:hover{
    background-image: url('../Images/music-icon.jpg');
}

.full
{
    display : block;
    float : left;
    width : 100%;
}