﻿@{
    ViewBag.Title = "Home Page";
}

@{
    
}

<div id="divLanding">
    <div>
        @Html.ActionLink("Register as a Person","Register", "Account")<br />
    </div>
    <div>
        @Html.ActionLink("Register as an Org.","RegisterOrg", "Register")
    </div>
    <div class="full">
        <div id="back_image"></div>
        <div id="hover_image"></div>
    </div>
</div>