﻿@model PeopleStock.Models.MainpageModel
@using PeopleStock.Models;
@using PeopleStock;
@{
    ViewBag.Title = "Main";
}

<div id="divMainArea">
    <div id="divAvatar">
        <img src="@Url.Content("~/Images/mikey.jpg")" alt="profilePic" />
        <label>@Model.CurrentPerson.FullName</label><br />

    </div>
    <div id="divStatus">
    </div>
    <div id="divMain">
        <div class="header">
            <label>Main Content</label>
            @Html.ActionLink("Add Content", "AddContent", "Content", new { id = Model.CurrentPerson.Id }, new { })
        </div>
        @{
            foreach (personStatu content in Model.Content)
            {
                <label class="subheader">@content.DateCreated</label><br />
                <label class="postContent">@content.Content</label>
                <br />
            }
        }
        <div class="spacer"></div>
        <div id="divStocks">
            <label>Your Stocks:</label>
            <table>
                <thead>
                    <tr>
                        <th>Person</th>
                        <th>Stocks</th>
                        <th>Valuation</th>
                        <th>Total Value</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

            @{
                foreach (var stock in Model.CurrentPerson.PersonStocks)
                {
                    decimal totalValue = stock.NumStocks.Value * stock.Person1.StockValue.Value;
                    string stockSetting = string.Empty;
                    string settingsLink = Html.ActionLink("Settings", "StockSettings", "Transaction", new { id = stock.Id }, new { }).ToHtmlString();
                    if (stock.isViewed == null || !stock.isViewed.Value)
                    {
                        stockSetting = settingsLink = "not viewed yet";
                    }
                    else if (stock.Status.Name == Constants.StockStatus.Hold)
                    {
                        stockSetting = "hold";
                    }
                    else
                    {
                        stockSetting = string.Format("Sell: {0}c", stock.SellValue);
                    }
                    <tr>
                        <td>@Html.ActionLink(stock.Person1.FullName, "ViewPersonalPage", "Home", new { loggedInUserId = Model.CurrentPerson.Id, viewUserId = stock.Person1.Id }, new { })</td>
                        <td>@stock.NumStocks</td>
                        <td>@String.Format("{0:0.00}", stock.Person1.StockValue)</td>
                        <td>@String.Format("{0:0.00}", totalValue)</td>
                        <td>@stockSetting</td>
                        <td>@Html.Raw(settingsLink)</td>
                    </tr>  
                }
                foreach (var stock in Model.CurrentPerson.OrganizationStocks)
                {
                    decimal totalValue = stock.NumStocks.Value * stock.Organization.StockValue.Value;
                    string stockSetting = string.Empty;
                    string settingsLink = Html.ActionLink("Settings", "OrgStockSettings", "Transaction", new { id = stock.Id }, new { }).ToHtmlString();
                    if(stock.isViewed == null || !stock.isViewed.Value){
                        stockSetting = settingsLink = "not viewed yet";   
                    }
                    else if (stock.Status.Name == Constants.StockStatus.Hold)
                    {
                        stockSetting = "hold";
                    }
                    else
                    {
                        stockSetting = string.Format("Sell: {0}c", stock.SellValue);
                    }
                    <tr>
                        <td>@Html.ActionLink(stock.Organization.Name, "ViewOrgPage", "Home", new { loggedInUserId = Model.CurrentPerson.Id, viewOrgId = stock.Organization.Id }, new { })</td>
                        <td>@stock.NumStocks</td>
                        <td>@stock.Organization.StockValue</td>
                        <td>@totalValue</td>
                        <td>@stockSetting</td>
                        <td>@Html.Raw(settingsLink)</td>
                    </tr>  
                }
            }
                </tbody>
            </table>
            <br />
            @Html.ActionLink("Buy Stock", "SearchStock", "Transaction", new { }, new { })
        </div>
        <div class="spacer"></div>
        <div id="divStockActivity">
            <label>Recent Stock Activity:</label>
            <ul>
                @{
                    foreach(var transacton in Model.Transactions){
                        <li>@transacton.TransactionText</li>   
                    }
                }
            </ul>
        </div>
    </div>
</div>
