﻿@model PeopleStock.Models.Person
@using PeopleStock.Models;
@using PeopleStock;
@{
    ViewBag.Title = "Main";
}

<div id="divMainArea">
    <div id="divAvatar">
        <img src="@Url.Content("~/Images/mikey.jpg")" alt="profilePic" />
        <label>@Model.FullName</label><br />
    </div>
    <div id="divStatus">
    </div>
    <div id="divMain">
        <div class="header">
            <label>Main Content</label>
        </div>
        @{
            foreach(personStatu content in ViewBag.ContentList){
                <label class="subheader">@content.DateCreated</label><br />
                <label class="postContent">@content.Content</label>
                <br />
            }
        }
        <div class="spacer"></div>
        <div id="divStocks">
            <label>My Stocks:</label>
            <table>
                <thead>
                    <tr>
                        <th>Person</th>
                    </tr>
                </thead>
                <tbody>

            @{
                foreach(var stock in Model.PersonStocks){
                    <tr>
                        <td>@Html.ActionLink(stock.Person1.FullName, "ViewPersonalPage", "Home", new { loggedInUserId = Model.Id, viewUserId = stock.Person1.Id }, new { })</td>
                    </tr>  
                }
            }
                </tbody>
            </table>
            <br />
        </div>
    </div>
</div>
