﻿@using PeopleStock.Models;
@model MainOrgPageModel



<script src="@Url.Content("~/Players/flowplayer/example/flowplayer-3.2.6.min.js")" type="text/javascript"></script>

@helper addAudioItem(string title, string picPath, string itemPath, int id)
    {
    <div class="divFeaturedItem">
        <div class="divFeaturedItemImg">
            <img src="@Url.Content("~/Images/music-icon.jpg")" alt="" />
        </div>
        <div class="divFeaturedItemDesc">
            <label>@title</label><br />
        </div>
        <div class="divFeaturedItemContent">
            <embed type="application/x-shockwave-flash" flashvars="audioUrl=@itemPath" 
        src="http://www.google.com/reader/ui/3523697345-audio-player.swf" 
        width="400" height="27" quality="best"></embed>
        </div>
        <div class="divFeaturedItemOptions">
            @Html.ActionLink("Remove","RemoveContent","Organization", new {orgID = Model.Org.Id, contentID = id}, null)
        </div>
        <br /><br />
    </div>
}
@helper addVideoItem(string title, string itemPath, int id)
    {
        string playerID = "player" + id;
        string playerPath = Url.Content("~/Players/flowplayer/flowplayer-3.2.7.swf");
    <div class="VideoItemContainer">
        <label>@title</label><br />
        <div class="divVideoItem">
            <a  href="@itemPath" 
	            style="display:block;width:425px;height:300px;" 
	            id="@playerID">
            </a>
            <script language="JavaScript" type="text/javascript">
                flowplayer(@playerID, "@playerPath", {
                    clip: { autoPlay: false }
                });
             </script>
        </div>
        <div class="divVideoOptions">
            @Html.ActionLink("Remove", "RemoveContent", "Organization", new { orgID = Model.Org.Id, contentID = id }, null)
        </div>
    </div>
        <br />
}
<div id="divMainArea">
    <div id="divAvatar">
        <img src="" alt="" />
        <label>@Model.Org.Name</label>
        <div id="divAbout">
            @Html.ActionLink("About", "About", "Organization", new { id = @Model.Org.Id }, new { })
        </div>
        <div id="divStock">
            @Html.ActionLink("Buy / Trade Stock", "BuyStock")
        </div>
        <div id="divEvents">
            <h4>Events</h4>
            <ul>
            @{
                foreach (var orgEvent in Model.OrgEvents)
                {
                 <li>
                    <label>@orgEvent.EventDate </label>
                    <label> @orgEvent.EventName</label><br />
                    <label>@orgEvent.EventText</label>
                 </li>   
                }
            }
            </ul>
            <br />
        </div>
        <br /><br />
    </div>
    <div id="divMain">
        <div id="divHeader">
            <img src="@Model.BannerImgPath" alt="" />
            <label>@Model.Org.HeaderText</label>
        </div>
        @{
            foreach (OrganizationStatu content in Model.OrgStatus)
            {
                <label class="subheader">@content.DateCreated</label><br />
                <label class="postContent">@content.Content</label>
                <br />
            }
        }
        <div class="spacer"></div>
        <div id="divSpecial">
            <h4>--Stock Holder Specials--</h4>
        </div>
        <div class="spacer"></div>
        <div id="divFeaturedContent">
            <h4>Content</h4>
            <div id="VideoOptions"></div>
            <hr />
            <h4>Audio Content</h4>
            @{
                foreach (var content in Model.AudioContent)
                {
                    string path = string.Format(Url.Content("~/Resources/{0}/Content/{1}"), Model.Org.Name, content.ItemPath);
                    @addAudioItem(content.Title, string.Empty, path, content.Id)
                }
                <br /><br /><hr />
                <h4>Video Content</h4><br />
                foreach (var content in Model.VideoContent)
                {
                    string path = string.Format(Url.Content("~/Resources/{0}/Content/{1}"), Model.Org.Name, content.ItemPath);
                    @addVideoItem(content.Title, path, content.Id)
                }
            }
            @{Html.BeginForm(new { C = 1, D = 2 });}
        </div>
    </div>
</div>