﻿@{
    ViewBag.Title = "RegisterOrg";
}
@using PeopleStock.Models;
@model Organization

<h2>Register Your Organization (Business, Band, Special Interest Group, Icecream Flavor, etc...)</h2>
<h4>WARNING! Your business will be subject to verification (you may be required to prove your identity).</h4>

<fieldset>
@{Html.BeginForm();}
    <legend>Account Information</legend>

    <div class="editor-label">
        @Html.LabelFor(m => m.Name)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(m => m.Name)
        @Html.ValidationMessageFor(m => m.Name)
    </div>

    <div class="editor-label">
        @Html.LabelFor(m => m.Email)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(m => m.Email)
        @Html.ValidationMessageFor(m => m.Email)
    </div>

    <div class="editor-label">
        <label>Password</label>
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(m => m.Passphrase)
        @Html.ValidationMessageFor(m => m.Passphrase)
    </div>

    <div class="editor-label">
        <label>Confirm Password</label>
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(m => m.Passphrase)
        @Html.ValidationMessageFor(m => m.Passphrase)
    </div>
    <input type="submit" name="submit" value="submit" />
@{Html.EndForm();}
</fieldset>