﻿@{
    ViewBag.Title = "AddContent";
}

<h2>Add Content</h2>

<div>
    @{Html.BeginForm();}
        <textarea rows="30" cols="50" name="Content">
    
        </textarea>
        @{
            int id = ViewBag.PersonID;
        }
        @Html.Hidden("PersonID", id)
        <input type="submit" name="submit" value="submit" />
    @{Html.EndForm();}
</div>
