﻿@{
    ViewBag.Title = "About Us";
}

<h2>About</h2>
<pre>
     Welcome to peoplestock.com. 

     What is this site all about? It's about owning a virtual piece of your favorite things. For example, let's pretend that you like the band
     'Nirvana'. You can search and find the band, and buy some of their stock, thus owning a virtual stake in the band.

     What does this mean? Do you really own part of the band? Well, no..of course not. You own a virtual share of the band. However, the intent of
     this site is to provide a new means for artists to connect with their fans. Our hope is that owning stock in the band will make special
     perks and benefits accessible to you, and that is what we're here for. Our representatives are hard at work, even this very minute, contacting
     anyone and everyone, trying to get special deals of intereset to make your stock shares THAT much more beneficial.

     Besides, who wouldn't like to be able to say that they own 50% of Bill Gates or President Obama?

     Happy Trading!
</pre>
